html, body {
  background:#363E49;
}

@media only screen and (min-width: 768px) {
  .container {
    width:720px;
    margin:0 auto;
  }
}

header {
  text-align:center;
}

.tech {background:rgba(245,117,87,1);}
.politics {background:rgba(151,216,125,1);}

.lists {
  position:fixed;
}

  .lists ul {
    list-style:none;
  }

    .lists ul li {
      display:block;
      height:45px;
    }

      .lists ul li a {
        color:#FFF;
        padding:6px 20px;
        font-weight:600;
        border-radius:1px;
      }

.users {
}
  
  .users ul {
    list-style:none;
  }

    .users ul li.user {
      background:rgba(255,255,255,1);
      border-radius:2px;
      overflow:hidden;
      padding:0;
      position:relative;
      margin-bottom:24px;
    }

      .users ul li.user .overlay {
        position:absolute;
        top:0;
        left:0;
        height:100%;
        width:100%;
        background:rgba(245,117,87,0.7);
        display:none;
      }

      .users ul li.user.ui-state-active .overlay {
        display:block;
      }

        .users ul li.user .overlay .bubble {
          margin-top:50px;
          text-align:center;
        }

          .users ul li.user .overlay .bubble span {
            border-radius:2px;
            padding:10px 20px;
            line-height:18px;
            font-size:18px;
            color:#FFF;
            background:rgba(0,0,0,0.7);
          }

      .users ul li.user .details {
        padding:10px;
      }

      .users ul li.user .avatar {
        border:5px solid #EAEAEA;
        border-radius:50%;
        overflow:hidden;
      }

        .users ul li.user .avatar img {
          width:100%;
        }
      
      .users ul li.user .belongs-to {
        border-radius:1px;
        margin:0;
      }

        .users ul li.user ul.belongs-to li {
          width:100%;
        }

          .users ul li.user ul.belongs-to li a {
            display:block;
            color:#FFF;
            width:100%;
            padding:6px 20px;
            font-weight:600;
          }
 
 #login-buttons-logout, #login-buttons-twitter {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", sans-serif !important;
  font-size:14px !important;
  border:none !important;
  background:#000 !important;
  box-shadow:none !important;
  opacity:0.6 !important;
  font-weight:600 !important;
 }

 #login-buttons-image-twitter {
   display:none !important;
 }

 .text-besides-image {
  margin:0 !important;
  color:#FFF !important;
 }

 #login-buttons-logout:hover {
   opacity:0.9 !important;
 }

 .login-text-and-button {
  margin-top:56px !important;
  text-align:right !important;
 }
 
